pre {
    background-color: #444;
    color: #cdcdcd;
    border: 2px solid #777;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 1rem;
}
code {
    background-color: transparent;
    border: none;
    color: #cdcdcd;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: .725rem;
    padding: 0.125rem 0.3125rem 0.0625rem;
}