<h2 id="title"></h2>
<div class="markup">
<ul class="accordion" data-accordion role="tablist">
  <li class="accordion-navigation">
    <a href="#accordion1" role="tab" id="accordion1-heading" aria-controls="accordion1">Accordion 1</a>
    <div id="accordion1" class="content active" role="tabpanel" aria-labelledby="accordion1-heading">
      <p>Accordion 1, broseph!</p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#accordion2" role=" tab" id="accordion2-heading" aria-controls="accordion2">Accordion 2</a>
    <div id="accordion2" class="content" role="tabpanel" aria-labelledby="accordion1-heading">
      <p>Accordion 2, broseph!</p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#accordion3" role=" tab" id="accordion3-heading" aria-controls="accordion3">Accordion 3</a>
    <div id="accordion3" class="content" role="tabpanel" aria-labelledby="accordion3-heading">
      <p>Accordion 3, broseph!</p>
    </div>
  </li>
</ul>
</div>


<script type="text/javascript">


</script>