<h2 id="title"></h2>
<h4>These are the different types of alerts.</h4>
<div class="markup">
<div data-alert class="alert-box success" tabindex="0" aria-live="assertive" role="dialogalert">
  This is a success alert.
  <button href="#" class="close">&times;</button>
</div>
<div data-alert class="alert-box warning" tabindex="0" aria-live="assertive" role="dialogalert">
  This is a warning alert.
  <button href="#" class="close">&times;</button>
</div>
<div data-alert class="alert-box info" tabindex="0" aria-live="assertive" role="dialogalert">
  This is an info alert.
  <button href="#" class="close">&times;</button>
</div>
<div data-alert class="alert-box alert" tabindex="0" aria-live="assertive" role="dialogalert">
  This is an alert alert.
  <button href="#" class="close">&times;</button>
</div>
<div data-alert class="alert-box secondary" tabindex="0" aria-live="assertive" role="dialogalert">
  This is a secondary alert.
  <button href="#" class="close">&times;</button>
</div>
</div>
