<h2 id="title"></h2>
<h3>Button Types</h3>
<div class="markup">
  <button class="button">Button</button>
  <button class="button textonly">Text Button</button>
  <button class="button disabled">Disabled Button</button>
  <button class="button export">Export<span class="icon"></span></button>
  <button class="button add"><span class="icon">&#43;</span>Add</button>
  <button class="button delete"><span class="icon">&times;</span>Delete</button>
</div>
<h3>Button Group</h3>
<div class="markup">
  <ul class="button-group">
    <li><button role="button" tabindex="0" aria-label="" class="button">Button 1</button></li>
    <li><button role="button" tabindex="0" aria-label="" class="button">Button 2</button></li>
    <li><button role="button" tabindex="0" aria-label="" class="button">Button 3</button></li>
  </ul>
</div>