<h2 id="title"></h2>
<div class="markup">
<button class="button" data-reveal-id="test-reveal">Open Reveal Modal</button>
<div id="test-reveal" class="reveal-modal" data-reveal>
  <h2>This is a modal.</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum venenatis risus. Sed semper risus eu accumsan mattis. Maecenas et aliquet sapien. Integer sagittis facilisis blandit. Etiam rutrum tortor lorem, quis bibendum elit auctor non. Nullam at elit lacus. Aliquam imperdiet, justo at euismod sollicitudin, risus erat fermentum ligula, at suscipit nisl diam at eros. Vivamus luctus, quam a blandit vulputate, purus sem cursus purus, et molestie leo ante et quam. Mauris eleifend libero porta commodo blandit. Aliquam lacinia lectus eu purus convallis vestibulum. Maecenas pharetra, urna nec euismod tempus, urna ipsum bibendum mi, vel condimentum erat libero nec sem.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
</div>
<div class="markup">
<button class="radius button" data-reveal-id="nested-reveal">Nested Reveal Modal</button>
<div id="nested-reveal" class="reveal-modal" data-reveal>
  <h2>This is a nested modal.</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum venenatis risus. Sed semper risus eu accumsan mattis. Maecenas et aliquet sapien. Integer sagittis facilisis blandit. Etiam rutrum tortor lorem, quis bibendum elit auctor non. Nullam at elit lacus. Aliquam imperdiet, justo at euismod sollicitudin, risus erat fermentum ligula, at suscipit nisl diam at eros. Vivamus luctus, quam a blandit vulputate, purus sem cursus purus, et molestie leo ante et quam. Mauris eleifend libero porta commodo blandit. Aliquam lacinia lectus eu purus convallis vestibulum. Maecenas pharetra, urna nec euismod tempus, urna ipsum bibendum mi, vel condimentum erat libero nec sem.</p>
  <button class="radius button textonly custom-close-reveal-modal">Nevermind</button>
  <button class="radius button" data-reveal-id="second-reveal">Open Reveal Modal</button>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="second-reveal" class="reveal-modal" data-reveal>
  <h2>This is a modal inside another modal.</h2>
  <h4>Modalception</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum venenatis risus. Sed semper risus eu accumsan mattis. Maecenas et aliquet sapien. Integer sagittis facilisis blandit. Etiam rutrum tortor lorem, quis bibendum elit auctor non. Nullam at elit lacus. Aliquam imperdiet, justo at euismod sollicitudin, risus erat fermentum ligula, at suscipit nisl diam at eros. Vivamus luctus, quam a blandit vulputate, purus sem cursus purus, et molestie leo ante et quam. Mauris eleifend libero porta commodo blandit. Aliquam lacinia lectus eu purus convallis vestibulum. Maecenas pharetra, urna nec euismod tempus, urna ipsum bibendum mi, vel condimentum erat libero nec sem.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
</div>