<h2 id="title"></h2>
<div class="markup">
<ul class="tabs horizontal" data-tab role="tablist">
  <li role="presentational" class="tab-title active"><a href="#panel1" role="tab" tabindex="0" aria-selected="true" controls="panel1">Tab 1</a></li>
  <li role="presentational" class="tab-title"><a href="#panel2" role="tab" tabindex="0" aria-selected="false" controls="panel2">Tab 2</a></li>
  <li role="presentational" class="tab-title"><a href="#panel3" role="tab" tabindex="0" aria-selected="false" controls="panel3">Tab 3</a></li>
</ul>
<div class="tabs-content">
  <section role="tabpanel" aria-hidden="false" class="content active" id="panel1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum venenatis risus. Sed semper risus eu accumsan mattis. Maecenas et aliquet sapien. Integer sagittis facilisis blandit. Etiam rutrum tortor lorem, quis bibendum elit auctor non. </p>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel2">
    <p>Sed commodo tempus diam vitae lacinia. Aliquam erat volutpat. Proin commodo mi et leo commodo, tempor iaculis velit sodales. Fusce dapibus leo at finibus accumsan. Nulla congue leo eget purus porta placerat. Vestibulum tincidunt vestibulum odio ac pretium. Quisque ac posuere felis, sit amet imperdiet lorem. Quisque id leo id turpis facilisis feugiat. Nulla vestibulum malesuada massa. </p>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel3">
    <p>Duis vitae gravida lacus. Aenean eu ipsum mauris. Vivamus ut erat est. Aenean varius leo vitae feugiat tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed enim purus, luctus eget mi nec, euismod rhoncus nisi. </p>
  </section>
</div>
</div>
<!-- Vertical Tabs -->
<div class="markup">
<ul class="tabs vertical" data-tab role="tablist">
  <li role="presentational" class="tab-title active"><a href="#panel4" role="tab" tabindex="0" aria-selected="true" controls="panel4">Tab 1</a></li>
  <li role="presentational" class="tab-title"><a href="#panel5" role="tab" tabindex="0" aria-selected="false" controls="panel5">Tab 2</a></li>
  <li role="presentational" class="tab-title"><a href="#panel6" role="tab" tabindex="0" aria-selected="false" controls="panel6">Tab 3</a></li>
</ul>
<div class="tabs-content">
  <section role="tabpanel" aria-hidden="false" class="content active" id="panel4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum venenatis risus. Sed semper risus eu accumsan mattis. Maecenas et aliquet sapien. Integer sagittis facilisis blandit. Etiam rutrum tortor lorem, quis bibendum elit auctor non. </p>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel5">
    <p>Sed commodo tempus diam vitae lacinia. Aliquam erat volutpat. Proin commodo mi et leo commodo, tempor iaculis velit sodales. Fusce dapibus leo at finibus accumsan. Nulla congue leo eget purus porta placerat. Vestibulum tincidunt vestibulum odio ac pretium. Quisque ac posuere felis, sit amet imperdiet lorem. Quisque id leo id turpis facilisis feugiat. Nulla vestibulum malesuada massa. </p>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel6">
    <p>Duis vitae gravida lacus. Aenean eu ipsum mauris. Vivamus ut erat est. Aenean varius leo vitae feugiat tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed enim purus, luctus eget mi nec, euismod rhoncus nisi. </p>
  </section>
</div>
</div>
