<h2 id="title"></h2>
<div class="markup">
<nav class="top-nav">
  <ul class="title-area left">
    <li class="logotile"></li>
    <li class="appName">
      App Title
    </li>
  </ul>

  <ul class="right">
    <li class="divider"></li>
    <!-- <li class="navButton"><a href="#">Create Work Item</a></li> -->
    <li class="navButton">
      <a href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="dropdown">Dropdown Menu</a>
    </li>
    <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
      <li><a href="#">Option One</a></li>
    </ul>
    <li class="divider"></li>
    <li class="navButton"><a href="">Static Menu Item</a></li>
  </ul>
</nav>
</div>
