

@media only screen and (min-width: 90.063em) {
  .x-large-1 {
    width: 8.33333%; }

  .x-large-2 {
    width: 16.66667%; }

  .x-large-3 {
    width: 25%; }

  .x-large-4 {
    width: 33.33333%; }

  .x-large-5 {
    width: 41.66667%; }

  .x-large-6 {
    width: 50%; }

  .x-large-7 {
    width: 58.33333%; }

  .x-large-8 {
    width: 66.66667%; }

  .x-large-9 {
    width: 75%; }

  .x-large-10 {
    width: 83.33333%; }

  .x-large-11 {
    width: 91.66667%; }

  .x-large-12 {
    width: 100%; }

  .x-large-offset-0 {
    margin-left: 0%; }

  .x-large-offset-1 {
    margin-left: 8.33333%; }

  .x-large-offset-2 {
    margin-left: 16.66667%; }

  .x-large-offset-3 {
    margin-left: 25%; }

  .x-large-offset-4 {
    margin-left: 33.33333%; }

  .x-large-offset-5 {
    margin-left: 41.66667%; }

  .x-large-offset-6 {
    margin-left: 50%; }

  .x-large-offset-7 {
    margin-left: 58.33333%; }

  .x-large-offset-8 {
    margin-left: 66.66667%; }

  .x-large-offset-9 {
    margin-left: 75%; }

  .x-large-offset-10 {
    margin-left: 83.33333%; }

  .x-large-offset-11 {
    margin-left: 91.66667%; }

  .x-large-push-1 {
    left: 8.33333%;
    right: auto; }

  .x-large-pull-1 {
    right: 8.33333%;
    left: auto; }

  .x-large-push-2 {
    left: 16.66667%;
    right: auto; }

  .x-large-pull-2 {
    right: 16.66667%;
    left: auto; }

  .x-large-push-3 {
    left: 25%;
    right: auto; }

  .x-large-pull-3 {
    right: 25%;
    left: auto; }

  .x-large-push-4 {
    left: 33.33333%;
    right: auto; }

  .x-large-pull-4 {
    right: 33.33333%;
    left: auto; }

  .x-large-push-5 {
    left: 41.66667%;
    right: auto; }

  .x-large-pull-5 {
    right: 41.66667%;
    left: auto; }

  .x-large-push-6 {
    left: 50%;
    right: auto; }

  .x-large-pull-6 {
    right: 50%;
    left: auto; }

  .x-large-push-7 {
    left: 58.33333%;
    right: auto; }

  .x-large-pull-7 {
    right: 58.33333%;
    left: auto; }

  .x-large-push-8 {
    left: 66.66667%;
    right: auto; }

  .x-large-pull-8 {
    right: 66.66667%;
    left: auto; }

  .x-large-push-9 {
    left: 75%;
    right: auto; }

  .x-large-pull-9 {
    right: 75%;
    left: auto; }

  .x-large-push-10 {
    left: 83.33333%;
    right: auto; }

  .x-large-pull-10 {
    right: 83.33333%;
    left: auto; }

  .x-large-push-11 {
    left: 91.66667%;
    right: auto; }

  .x-large-pull-11 {
    right: 91.66667%;
    left: auto; }

  .column.x-large-centered,
  .columns.x-large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.x-large-uncentered,
  .columns.x-large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }
  }