<h2 id="title"></h2>
<div class="row">
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview charcoal"></div>
      <ul class="swatch-details">
        <li><strong>Charcoal</strong></li>
        <li>rgb(50, 50, 50)</li>
        <li>#323232</li>
        <li>$charcoal</li>
      </ul>
    </div>
  </div>
  <!-- Dark Ash -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview darkash"></div>
      <ul class="swatch-details">
        <li><strong>Dark Ash</strong></li>
        <li>rgb(101, 101, 101)</li>
        <li>#656565</li>
        <li>$darkash</li>
      </ul>
    </div>
  </div>
  <!-- Light Ash -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview lightash"></div>
      <ul class="swatch-details">
        <li><strong>Light Ash</strong></li>
        <li>rgb(152, 152, 152)</li>
        <li>#989898</li>
        <li>$lightash</li>
      </ul>
    </div>
  </div>
  <!-- Gray -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview gray"></div>
      <ul class="swatch-details">
        <li><strong>Gray</strong></li>
        <li>rgb(221, 221, 221)</li>
        <li>#dddddd</li>
        <li>$gray</li>
      </ul>
    </div>
  </div>
  <!-- Light Gray -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview lightgray"></div>
      <ul class="swatch-details">
        <li><strong>Light Gray</strong></li>
        <li>rgb(239, 239, 239)</li>
        <li>#efefef</li>
        <li>$lightgray</li>
      </ul>
    </div>
  </div>
  <!-- Extra Light Gray -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview xtralightgray"></div>
      <ul class="swatch-details">
        <li><strong>Extra Light Gray</strong></li>
        <li>rgb(246, 246, 246)</li>
        <li>#f6f6f6</li>
        <li>$xtralightgray</li>
      </ul>
    </div>
  </div>
  <!-- Paper White -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview paperwhite"></div>
      <ul class="swatch-details">
        <li><strong>Paper White</strong></li>
        <li>rgb(254, 254, 254)</li>
        <li>#fefefe</li>
        <li>$paperwhite</li>
      </ul>
    </div>
  </div>
  <!-- White -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview white"></div>
      <ul class="swatch-details">
        <li><strong>White</strong></li>
        <li>rgb(255, 255, 255)</li>
        <li>#ffffff</li>
        <li>$white</li>
      </ul>
    </div>
  </div>
</div>
<!-- BLUE ROW -->
<div class="row">
  <!-- Blue -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview blue"></div>
      <ul class="swatch-details">
        <li><strong>Blue</strong></li>
        <li>rgb(52, 152, 219)</li>
        <li>#3498db</li>
        <li>$blue</li>
      </ul>
    </div>
  </div>
  <!-- Light Blue -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview lightblue"></div>
      <ul class="swatch-details">
        <li><strong>Light Blue</strong></li>
        <li>rgb(139, 196, 234)</li>
        <li>#8bc4ea</li>
        <li>$lightblue</li>
      </ul>
    </div>
  </div>
  <!-- Soft Blue -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview softblue"></div>
      <ul class="swatch-details">
        <li><strong>Soft Blue</strong></li>
        <li>rgb(33, 125, 187)</li>
        <li>#217dbb</li>
        <li>$softblue</li>
      </ul>
    </div>
  </div>
  <!-- Dark Blue -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview darkblue"></div>
      <ul class="swatch-details">
        <li><strong>Dark Blue</strong></li>
        <li>rgb(27, 102, 152)</li>
        <li>#1b6698</li>
        <li>$darkblue</li>
      </ul>
    </div>
  </div>
</div>
<!-- BLUE ROW 2-->
<div class="row">
  <!-- Pale Blue -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview paleblue"></div>
      <ul class="swatch-details">
        <li><strong>Pale Blue</strong></li>
        <li>rgb(191, 222, 244)</li>
        <li>#bfdef4</li>
        <li>$paleblue</li>
      </ul>
    </div>
  </div>
  <!-- Extra Pale Blue -->
  <div class="large-3 small-6 end columns">
    <div class="swatch">
      <div class="swatch-preview xtrapaleblue"></div>
      <ul class="swatch-details">
        <li><strong>Extra Pale Blue</strong></li>
        <li>rgb(234, 244, 251)</li>
        <li>#eaf4fb</li>
        <li>$xtrapaleblue</li>
      </ul>
    </div>
  </div>
</div>
<!-- RED ROW-->
<div class="row">
  <!-- Red -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview red"></div>
      <ul class="swatch-details">
        <li><strong>Red</strong></li>
        <li>rgb(191, 64, 64)</li>
        <li>#bf4040</li>
        <li>$red</li>
      </ul>
    </div>
  </div>
  <!-- Soft Red -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview softred"></div>
      <ul class="swatch-details">
        <li><strong>Soft Red</strong></li>
        <li>rgb(204, 102, 102)</li>
        <li>#cc6666</li>
        <li>$softred</li>
      </ul>
    </div>
  </div>
  <!-- Light Red -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview lightred"></div>
      <ul class="swatch-details">
        <li><strong>Light Red</strong></li>
        <li>rgb(236, 198, 198)</li>
        <li>#ecc6c6</li>
        <li>$lightred</li>
      </ul>
    </div>
  </div>
  <!-- Dark Red -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview darkred"></div>
      <ul class="swatch-details">
        <li><strong>Dark Red</strong></li>
        <li>rgb(172, 58, 58)</li>
        <li>#ac3a3a</li>
        <li>$darkred</li>
      </ul>
    </div>
  </div>
</div>
<!-- GREEN ROW-->
<div class="row">
  <!-- Green -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview green"></div>
      <ul class="swatch-details">
        <li><strong>Green</strong></li>
        <li>rgb(67, 172, 106)</li>
        <li>#43ac6a</li>
        <li>$green</li>
      </ul>
    </div>
  </div>
  <!-- Light Green -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview lightgreen"></div>
      <ul class="swatch-details">
        <li><strong>Light Green</strong></li>
        <li>rgb(190, 221, 177)</li>
        <li>#beddb1</li>
        <li>$lightgreen</li>
      </ul>
    </div>
  </div>
  <!-- Soft Green -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview softgreen"></div>
      <ul class="swatch-details">
        <li><strong>Soft Green</strong></li>
        <li>rgb(146, 198, 124)</li>
        <li>#92c67c</li>
        <li>$softgreen</li>
      </ul>
    </div>
  </div>
  <!-- Dark Green -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview darkgreen"></div>
      <ul class="swatch-details">
        <li><strong>Dark Green</strong></li>
        <li>rgb(91, 148, 112)</li>
        <li>#5b9470</li>
        <li>$darkgreen</li>
      </ul>
    </div>
  </div>
</div>
<!-- YELLOW ROW-->
<div class="row">
  <!-- Yellow -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview yellow"></div>
      <ul class="swatch-details">
        <li><strong>Yellow</strong></li>
        <li>rgb(255, 255, 102)</li>
        <li>#ffff66</li>
        <li>$yellow</li>
      </ul>
    </div>
  </div>
  <!-- Light Yellow -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview lightyellow"></div>
      <ul class="swatch-details">
        <li><strong>LightYellow</strong></li>
        <li>rgb(255, 255, 179)</li>
        <li>#ffffb3</li>
        <li>$lightyellow</li>
      </ul>
    </div>
  </div>
  <!-- Soft Yellow -->
  <div class="large-3 small-6 soft end columns">
    <div class="swatch">
      <div class="swatch-preview softyellow"></div>
      <ul class="swatch-details">
        <li><strong>Soft Yellow</strong></li>
        <li>rgb(240, 240, 117)</li>
        <li>#f0f075</li>
        <li>$softyellow</li>
      </ul>
    </div>
  </div>
</div>
<!-- ORANGE ROW-->
<div class="row">
  <!-- Orange -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview orange"></div>
      <ul class="swatch-details">
        <li><strong>Orange</strong></li>
        <li>rgb(255, 103, 0)</li>
        <li>#ff6700</li>
        <li>$orange</li>
      </ul>
    </div>
  </div>
  <!-- Light Orange -->
  <div class="large-3 small-6 columns">
    <div class="swatch">
      <div class="swatch-preview lightorange"></div>
      <ul class="swatch-details">
        <li><strong>Light Orange</strong></li>
        <li>rgb(255, 194, 153)</li>
        <li>#ffc299</li>
        <li>$lightorange</li>
      </ul>
    </div>
  </div>
  <!-- Soft Orange -->
  <div class="large-3 small-6 end columns">
    <div class="swatch">
      <div class="swatch-preview softorange"></div>
      <ul class="swatch-details">
        <li><strong>Soft Orange</strong></li>
        <li>rgb(217, 110, 38)</li>
        <li>#d96e26</li>
        <li>$softorange</li>
      </ul>
    </div>
  </div>
</div>
