<h2 id="title"></h2>
            <table align="center" id="entities">
                <thead>
                    <tr>
                        <th>Character</th>
                        <th>HTML</th>
                        <th>Entity</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="character">&lsaquo;</td>
                        <td>&amp;lsaquo;</td>
                        <td>Left Single Guillemet</td>
                        <td>Used in Pagination</td>
                    </tr>
                    <tr>
                        <td class="character">&rsaquo;</td>
                        <td>&amp;rsaquo;</td>
                        <td>Right Single Guillemet</td>
                        <td>Used in Pagination</td>
                    </tr>
                    <tr>
                        <td class="character">&laquo;</td>
                        <td>&amp;laquo;</td>
                        <td>Left Guillemet</td>
                        <td>Used in Pagination</td>
                    </tr>
                    <tr>
                        <td class="character">&raquo;</td>
                        <td>&amp;raquo;</td>
                        <td>Right Guillemet</td>
                        <td>Used in Pagination</td>
                    </tr>
                    <tr>
                        <td class="character">&times;</td>
                        <td>&amp;times;</td>
                        <td>Multiply</td>
                        <td>Used in math expressions</td>
                    </tr>
                    <tr>
                        <td class="character">&#10005;</td>
                        <td>&amp;#10005;</td>
                        <td>Heavy Multiply</td>
                        <td>Used for closing popup windows</td>
                    </tr>
                    <tr>
                        <td class="character">&#10003;</td>
                        <td>&amp;#10003;</td>
                        <td>Check Mark</td>
                        <td>Used to show progress</td>
                    </tr>
                    <tr>
                        <td class="character">&#10004;</td>
                        <td>&amp;#10004;</td>
                        <td>Heavy Check Mark</td>
                        <td>Used to show progress</td>
                    </tr>
                    <tr>
                        <td class="character">&#9650;</td>
                        <td>&amp;#9650;</td>
                        <td>Triangle</td>
                        <td>Used in navigation</td>
                    </tr>
                    <tr>
                        <td class="character">&#9654;</td>
                        <td>&amp;#9654;</td>
                        <td>Right Triangle</td>
                        <td>Used in navigation</td>
                    </tr>
                    <tr>
                        <td class="character">&#9660;</td>
                        <td>&amp;#9660;</td>
                        <td>Down Triangle</td>
                        <td>Used in navigation</td>
                    </tr>
                    <tr>
                        <td class="character">&#9664;</td>
                        <td>&amp;#9664;</td>
                        <td>Left Triangle</td>
                        <td>Used in navigation</td>
                    </tr>
                    <tr>
                        <td class="character">&hellip;</td>
                        <td>&amp;hellip;</td>
                        <td>Ellipsis</td>
                        <td>Used in Pagination</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>