<h2 id="title"></h2>
<div id="gridExample" class="markup">
  <div class="row">
    <div class="small-4 columns">4 Columns</div>
    <div class="small-4 columns">4 Columns</div>
    <div class="small-4 columns">4 Columns</div>
  </div>
  <div class="row">
    <div class="small-3 columns">3 Columns</div>
    <div class="small-6 columns">6 Columns</div>
    <div class="small-3 columns">3 Columns</div>
  </div>
  <div class="row">
    <div class="small-2 columns">2 Columns</div>
    <div class="small-8 columns">8 Columns</div>
    <div class="small-2 columns">2 Columns</div>
  </div>
  <div class="row">
    <div class="small-3 columns">3 Columns</div>
    <div class="small-9 columns">9 Columns</div>
  </div>
  <div class="row">
    <div class="small-4 columns">4 Columns</div>
    <div class="small-8 columns">8 Columns</div>
  </div>
  <div class="row">
    <div class="small-5 columns">5 Columns</div>
    <div class="small-7 columns">7 Columns</div>
  </div>
  <div class="row">
    <div class="small-6 columns">6 Columns</div>
    <div class="small-6 columns">6 Columns</div>
  </div>
</div>
