<div id="panels" class="section">
    <div class="fluid row">
        <div data-xrayhtml class="prism medium-12 columns">
            <h2>Panels</h2>
            <!-- <p>Talking about panels, this is a section about panels!</p> -->
            <div class="source" data-id="panelssrc">

            </div>
            <div class="row">
                <div class="large-6 columns">
                    <div class="panel">
                        <h3>This is a Panel!</h3>
                        <p>Check out this panel! Look how cool it is! Have you ever seen anything this cool?</p>
                    </div>
                </div>
                <div class="large-6 columns">
                    <div class="panel callout">
                        <h3>This is a Callout Panel!</h3>
                        <p>This is a sweet action panel, as well!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>