<div id="tables" class="section">
    <div class="fluid row">
        <div data-xrayhtml class="prism medium-12 columns">
            <h2>Tables</h2>
            <!-- <p>Talking about tables, this is a section about tables!</p> -->
            <div class="row">
                <div class="x-large-6 medium-12 columns">
                    <div class="source" data-id="tablessrc">
                        <table id="basicTable">
                            <thead>
                                <tr>
                                    <th class="sortable">Customer Name</th>
                                    <th>Account Number</th>
                                    <th class="sortable">Pull Date</th>
                                    <th class="sortable">Grand Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John Smith</td>
                                    <td>1234567890</td>
                                    <td>01-Jan-2014</td>
                                    <td class="number">$305.00</td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>0987654321</td>
                                    <td>01-Feb-2014</td>
                                    <td class="number">$350.00</td>
                                </tr>
                                <tr>
                                    <td>John Luke Pickard</td>
                                    <td>5678901234</td>
                                    <td>01-Mar-2014</td>
                                    <td class="number">$325.00</td>
                                </tr>
                                <tr>
                                    <td>John Leguizamo</td>
                                    <td>4321098765</td>
                                    <td>01-Apr-2014</td>
                                    <td class="number">$1.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>