<div id="text-alignment" class="section">
    <div class="fluid row">
        <div data-xrayhtml class="prism medium-12 columns">
            <h2>Text-Alignment</h2>
            <!-- <p>Talking about text-alignment, this is a section about text-alignment!</p> -->
            <div class="row">
                <div class="medium-12 columns">
                    <div class="source" data-id="text-alignmentsrc">
                        <div class="row">
                            <div class="medium-6 columns">
                                <div class="panel">
                                    <p class="text-left">
                                        <strong>This text is left aligned.</strong>
                                        Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.
                                    </p>
                                </div>
                            </div>
                            <div class="medium-6 columns">
                                <div class="panel">
                                    <p class="text-right">
                                        <strong>This text is right aligned.</strong>
                                        Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.
                                    </p>
                                </div>
                            </div>
                            <div class="medium-6 columns">
                                <div class="panel">
                                    <p class="text-center">
                                        <strong>This text is center aligned.</strong>
                                        Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.
                                    </p>
                                </div>
                            </div>
                            <div class="medium-6 columns">
                                <div class="panel">
                                    <p class="text-justify">
                                        <strong>This text is justified.</strong>
                                        Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>