<div id="typography" class="section">
    <div class="fluid row">
        <div data-xrayhtml class="prism medium-12 columns">
            <h2>Typography</h2>
            <!-- <p>Talking about typography, this is a section about typography!</p> -->
            <div class="source" data-id="typographysrc">
                <div class="row" data-equalizer>
                    <div class="large-6 columns">
                        <div class="panel" data-equalizer-watch>
                            <h1>This is an H1 header.</h1>
                            <h2>This is an H2 header.</h2>
                            <h3>This is an H3 header.</h3>
                            <h4>This is an H4 header.</h4>
                            <h5>This is an H5 header.</h5>
                            <h6>This is an H6 header.</h6>
                        </div>
                    </div>
                    <div class="large-3 medium-6 columns">
                        <div class="panel" data-equalizer-watch>
                            <p>This is a paragraph, this is what normal text looks like. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a eros eget ligula gravida laoreet at et arcu.  </p>
                        </div>
                    </div>
                    <div class="large-3 medium-6 columns">
                        <div class="panel" data-equalizer-watch>
                            <strong>Important</strong><br />
                            <em>Emphasized</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>